{% extends "network/layout.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'network/index.css' %}"
{% endblock %}

{% block body %}
<div class="index-header">
    <h2>Home</h2>
    <a id="following" href="#" class="nav-link">Following</a>

</div>
<div class="input-container">
    <div class="img-container">
        <img alt="pfp" src="{% static 'network/images/pfp-placeholder.png' %}" />
    </div>
    <form id="post-form">
        <textarea id="text-inp" wrap="hard" maxlength="280" rows="2" placeholder="What are you thinking?"></textarea>
        <div class="extras">
            <input id="submit-btn" type="submit" value="Post" />
        </div>
    </form>
</div>

<div class="posts-container">
    {% for post in posts %}
        <div class="post">
            <div class="post-main">
                <div class="img-container">
                    <img alt="pfp" src="{% static 'network/images/pfp-placeholder.png' %}" />
                </div>
                <div class="post-content">
                    <h3 class="post-name">{{post.creator}}</h3>
                    <p class="post-data">{{post.body}}</p>
                </div>
            </div>
            <div class="liking">
                <h5><span class="like-count">{{post.likes}}</span> - Like</h5>
            </div>
        </div>
    
    
    {% endfor %}


</div>


<script>
    const textarea = document.getElementById("text-inp");
    textarea.oninput = function() {
        textarea.style.height = "auto";

        if (textarea.scrollHeight <= 150) {
            textarea.style.height = textarea.scrollHeight + "px";
        } else {
            textarea.style.height = "150px";
        }
    };

    
    document.getElementById("following").addEventListener("click", ()=> {
        fetch("{% url 'following' %}")
        .then(res=> res.json())
        .then(res=> {
            console.log(res)
        })
      })

    document.getElementById("post-form").onsubmit = () => {
        fetch("/newpost", {
            method: "post",
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            body: JSON.stringify({post_txt: textarea.value, hello: "hello"}),
        }).then(res => {
            if (res.status === 200){
                // make the new post
                location.reload();
                //TODO: Make progress bar
            }
        })
        return false;
    }
</script>
{% endblock %}
