.post {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  margin: 20px auto;
  background-color: var(--tweet);
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 90%;
}
.post-main {
  display: flex;
  flex-grow: 1;
}
.post-content {
  padding-top: 20px;
  padding-right: 40px;
  flex-grow: 1;
}
.post-content .post-data {
  font-size: 17px;
  margin: 0;
  white-space: pre-line;
  overflow-wrap: anywhere;
}

.post-content .post-name {
  font-size: 17px;
  margin: 0 0 3px 0;
}

.post .post-options {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 80px;
}

.post .post-options > div {
  width: 150px;
}

.post .option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 40px;
}

.post .option h5 span {
  margin-left: 8px;
}
.post .option h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-container {
  min-width: 80px;
  padding-top: 20px;
  /* background-color: blue; */
}

.img-container img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
  display: block;
}

.editor {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0 80px 10px;
}

.editor button:nth-child(2) {
  margin-left: 10px;
}

.textarea {
  display: block;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 17px;
  padding: 0;
  width: 100%;

  max-height: 150px;
  resize: none;
}
